<div class="lg:w-1/5 mr-5 mb-5 container mx-auto border-2 border-blue-300 border-opacity-100 rounded-md flex items-center justify-center flex-col bg-blue-50">
    <div class="text-xl">Contact Information</div>
    <p>phone: 360-839-4532</p>
    <p>fax: 855-598-3606</p>
    <div class="text-xl">Locations</div>
    <div class="py-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="https://nextpatient.co/p/1125/providers" target="_blank" rel="noopener noreferrer">Mill Plain</a></button>
    </div>
    <div class="py-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="https://nextpatient.co/p/1126/providers" target="_blank" rel="noopener noreferrer">Salmon Creek</a></button>
    </div>
    <div class="py-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="tel:(360)-839-4532">Longview</a></button>
    </div>
    <div class="text-xl">Patient Portal</div>
    <a href="https://20282.portal.athenahealth.com/" target="_blank" rel="noopener noreferrer"><img src="https://i1.wp.com/vansleep.net/wp-content/uploads/2020/12/athena-logo.png?w=624&ssl=1" alt="Athena Patient Portal" height="250" width="250"></a>
</div>