<div class="bg-blue-100 footerthing flex flex-grow">
    <div class="flex flex-row items-center justify-center container">
        <img src="https://i1.wp.com/vansleep.net/wp-content/uploads/2015/05/Capture.jpg?fit=113%2C118&ssl=1" alt="sleep medicine" width="150" height="150" class="px-5 py-5">
        <div class="container w-3/5 hidden lg:block">As an AASM accredited sleep medicine center, Vancouver Sleep Center adheres to the highest standards of diagnosis and treatment of sleep and sleep disordered breathing. We deliver the same or better care, at costs that are a fraction of what hospital attached sleep centers charge.</div>
    </div>
    <div class="flex flex-row items-center justify-center container">© 2021 · Vancouver Sleep Center</div>
</div>