<div class="bg-white">
    <nav class="flex flex-wrap items-center justify-between p-5 container mx-auto">
    <img src="https://vansleep.net/wp-content/uploads/2020/12/Vancouver-Sleep-Center-transparent-1.png" alt="joj" width="150" height="40">
    <div>
        <ul class="flex flex-row">
            <li class="px-5 navbords"><a>About</a></li>
            <li class="px-5 navbords"><a>Resources</a></li>
            <li class="px-5 navbords"><a>Staff</a></li>
            <li class="px-5 navbords"><a>News</a></li>
        </ul>
    </div>
    <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Contact</a>
</nav>

</div>
