<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header'); %>
    <title>Vancouver Sleep Center Contact Page</title>
</head>
<body>
    <%- include('components/navbar'); %>
    <div class="container mx-auto flex flex-row">
        <div class="w-1/3 container mx-auto">
            <iframe class="pb-10" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d586.6297271364881!2d-122.54438441169724!3d45.620751652350776!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a5185a8558b5%3A0x26e59e42fe66a705!2s12405%20SE%202nd%20Cir%2C%20Vancouver%2C%20WA%2098684!5e0!3m2!1sen!2sus!4v1627330836132!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="https://nextpatient.co/p/1125/providers" target="_blank" rel="noopener noreferrer">Mill Plain</a></button>
            <p class="py-5">12405 SE 2nd Cir, Vancouver, WA 98684</p>
        </div>
        <div class="w-1/3 container mx-auto">
            <iframe class="pb-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d581.1915040667359!2d-122.9403878764569!3d46.13823377849444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54946c8c08dea3b1%3A0x4c4f5b5f7257f8f8!2s1700%20Hudson%20St%2C%20Longview%2C%20WA%2098632!5e0!3m2!1sen!2sus!4v1627331268869!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="tel:(360)-839-4532">Longview</a></button>
            <p class="py-5">1700 Hudson St, Suite 202, Longview, WA 98632</p>
        </div>
        <div class="w-1/3 container mx-auto">
            <iframe class="pb-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1171.167054888685!2d-122.64878695271942!3d45.72065771473586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a4ce567fa105%3A0x6714d5743fbcf1d0!2sVancouver%20Sleep%20Center!5e0!3m2!1sen!2sus!4v1627331342041!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"><a href="https://nextpatient.co/p/1126/providers" target="_blank" rel="noopener noreferrer">Salmon Creek</a></button>
            <p class="py-5">2101 NE 139th St, Suite #285, Vancouver 98686</p>
        </div>
    </div>
    <%- include('components/footer') %>
</body>
</html>