<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header'); %>
    <title>Vancouver Sleep Center Home Page</title>
</head>
<body>
    <%- include('components/navbar'); %>
    <div class="container mx-auto flex flex-row py-5">
        <div class="w-4/5 container mx-auto">
            <div class="flex items-center justify-center"><p class="text-3xl pageTitle">Services</p></div>
            <div class="container">
                <div class="flex items-center justify-center"><p class="px-10 py-5 text-lg font-bold">Who needs to see a sleep physician?</p></div>
                <div class="hover:bg-purple-100">
                    <p class="px-10 py-5 font-bold">Snorers and patients with non refreshing sleep</p>
                    <p class="px-10 py-5">Snoring and sleep apnea are prevalent in a large subset of the population. Both can lead to disruption in the continuity of sleep. This leads to sleep fragmentation. The best tool to assess a patient for Sleep Apnea is polysomnography. While polysomnography is superior, many insurances prefer that a home sleep study be performed first. this is acceptable for most patients.</p>
                </div>
                <div class="hover:bg-purple-100">
                    <p class="px-10 py-5 font-bold">Parasomnia and Sleep Walking</p>
                    <p class="px-10 py-5">Not all movement in sleep is sleep walking. While children sleep walk often, this is rarer in adults and can be provoked by alcohol and medication too. Sleep walking however should be distinguished from REM Sleep Behavior Disorder (RBD). This is a neuro-degenerative disorder first described in 1986, and has been linked to development of Parkinsons disease. Polysomnography is the first step to diagnose this disorder.</p> 
                </div>
                <div class="hover:bg-purple-100">
                    <p class="px-10 py-5 font-bold">Kids have sleep problems too!</p>
                    <p class="px-10 py-5">As any parent can testify, a child that sleeps well, grows well. Your pediatrician is the best physician for your child but a sleep physician can help with unique non-medication strategies. No medication is FDA approved for insomnia in kids. Sleep apnea is common in snoring children, and often misdiagnosed as ADD/ADHD. Pediatric sleep apnea is diagnosed using polysomnography. Our technicians are great with kids and we ask that a parent spend the night at the sleep lab with the child. The treatment may be as simple as tonsillectomy.</p>
                </div>
            </div>
            <div class="container">
                <p class="px-10 py-5 font-bold" id="HS">Home Sleep Study</p>
                <p class="px-10 py-5">Many patients find dealing with a potential sleep disorder overwhelming. You may be fearful, or simply dread the idea of undergoing time-consuming and expensive evaluation and treatment. Home sleep testing, though accurate and easy to use, is only for evaluation of obstructive sleep apnea or other sleep breathing disorders.</p>
                <p class="px-10 py-5">Home sleep testing is not as accurate as a polysomnogram and is not used as a screening tool. This means that a “normal” result on the home sleep testing is not very useful and often leads to testing with the more accurate polysomnogram. An “abnormal” result on the other hand can allow patient to be trialed on CPAP treatment quickly and save a patient the need for expensive, lab based testing.</p>
                <p class="px-10 py-5">Additionally, certain pre existing medical conditions such as use of opioid pain medications, COPD and Heart Failure may interfere or skew the results of home sleep testing. Such patients should undergo a polysomnogram.</p>
                <p class="px-10 py-5 font-medium">As with any testing at Vancouver Sleep Center, we will always have your test pre-authorized with your insurance so you will know how much a test costs before undergoing it.</p>
                <iframe class="px-10 py-5" width="560" height="315" src="https://www.youtube.com/embed/Fr6DnNLhHns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container">
                <p class="px-10 py-5 font-bold" id="poly">Polysomnography</p>
                <p class="px-10 py-5">Polysomnography is the term used to describe the process of formal sleep testing. For many sleep disorders this procedure is essential to establishing the kind of accurate diagnosis needed for selection of the treatment most likely to be successful. For sleep apnea syndrome it is often also used to begin treatment or make certain a therapy has been effective. It is also used to rule out sleep apnea as a cause of excessive daytime sleepiness before an MSLT test for narcolepsy.</p>
                <p class="px-10 py-5">Polysomnography is conducted in our specially designed sleep testing and treatment facility. The test consists of the continuous monitoring of a wide range of physiologic features throughout a person’s usual sleep period. Things measured include the stages of sleep itself, breathing, heart rate and rhythm, oxygen levels, and movement patterns. All this information is collected from sensors, which are applied to the skin at various locations. Minimal, if any, discomfort is experienced. The sensors are connected in such a manner as to easily allow movement.</p>
                <p class="px-10 py-5">Laboratory Staff</p>
                <p class="px-10 py-5">All testing in the laboratory is conducted by  registered sleep technologists. They work in the specially designed control room, where all the recording instruments are located. They remain with you throughout the entire testing process.</p>
                <p class="px-10 py-5">Timing of Testing</p>
                <p class="px-10 py-5">We offer testing conveniently on Friday, Saturday and Sunday nights. If you are not able to naturally sleep, you will be prescribed a sleep aid to help. The primary goal of most polysomnography is to assess how you breath when you sleep. Therefore, the sleep aid will not interfere with the test result.</p>
                <p class="px-10 py-5">How Many Nights?</p>
                <p class="px-10 py-5">In the past it was standard practice to obtain two consecutive nights of testing. Though following such a course may be more precise, 95% of the time in our laboratory the same diagnostic conclusions and treatment decisions are made at the end of the first night as would be at the end of a second one. Consequently, we never schedule more than one night for diagnostic purposes. At times a second night is needed to begin certain kinds of treatment or to objectively evaluate the results of therapy. In cases of sleep apnea of especially severe intensity, we also may try to combine a portion of the night dedicated to diagnostic monitoring together with a therapeutic segment involving treatment initiation using continuous positive airway pressure.</p>
                <p class="px-10 py-5">What to Bring</p>
                <p class="px-10 py-5">You should bring certain items with you to your sleep test. Generally, a robe, slippers, and pajamas along with personal toiletry items are most appropriate. Nightgowns may be worn though are less convenient than pajamas from the standpoint of sensor application and movement. Shampoo and conditioner is provided though you may wish to bring your own. Bringing your own pillow can be especially helpful, as this is often a very individual item. Snacks are appropriate at times as well but this should be discussed with Program staff member scheduling your testing.</p>
                <p class="px-10 py-5 font-bold">As with any testing at Vancouver Sleep Center, we will always have your test pre-authorized with your insurance so you will know how much a test costs before undergoing it.</p>
            </div>
            <div class="container">
                <p class="px-10 py-5 font-bold" id="MS">MSLT</p>
                <p class="px-10 py-5">Multiple Sleep Latency Test (MSLT) is a test that consists of a series of five, twenty-minute nap periods scheduled two hours apart. It is always performed the day after an overnight sleep study (polysomnography). The patient is given five chances to sleep during their customary awake period. For each nap, measurements of the interval from the start of the nap period to the first sign of sleep are measured.</p>
                <p class="px-10 py-5">Reasons for having Multiple Sleep Latency Test</p>
                <p class="px-10 py-5">To test for Narcolepsy
                    To distinguish physical tiredness from true excessive daytime sleepiness
                    To document sleep/breathing disorder treatment is effective</p>
                <p class="px-10 py-5">What to expect during the test:</p>
                <p class="px-10 py-5">After you awaken from the polysomnography the which began the night before, you will be offered a light breakfast (please specify dietary restrictions to sleep technician the night before). No caffiene products may be used. You will then be given 5 opportunities to nap through the course of the day. We will break for lunch (again, please specify dietary restrictions to sleep technician the night before) and you can expect to be able to go home around 5pm.</p>
                <p class="px-10 py-5">When is the test offered?</p>
                <p class="px-10 py-5">Usually we offer this testing on Friday nights and Saturday mornings to allow our patients complete quite during the daytime nap testing.</p>
                <p class="px-10 py-5">Multiple Sleep Latency Rest Procedure:</p>
                <p class="px-10 py-5">On the night before the day of the MSLT, the patient routinely has a formal sleep study. Daytime multiple sleep latency test is often done following an overnight sleep study.
                    The test begins about two hours after awakening in the morning, and generally continues to late afternoon or early evening. The test is painless and it takes about seven hours to complete. It is not a treatment, but a single test that contributes to your patient’s total medical evaluation.</p>
                <p class="px-10 py-5">Patient’s brain waves or EEG, heart rate or EKG, muscle activity and eye movements will be recorded by the multiple sleep latency test. These signals are recorded on a graph, which is then reviewed by a sleep specialist.</p>
                <p class="px-10 py-5">This test is used to file the presence and severity of daytime sleepiness, as well as to detect sleep architecture abnormalities related with narcolepsy.</p>
                <p class="px-10 py-5">During the daytime hours your patient will sleep in a comfortable and calm private room while data is collected through the application of electrodes. The electrodes are applied with tape or a liquid, under the chin, around the eyes, and on the shoulders.</p>
                <p class="px-10 py-5">The patient is asked to lie down and sleep after the electrodes are applied. The lights will be turned off when the technologist leaves the room and the recording will begin. Technologists and nurses are in continuous attendance to meet any comfort or medical needs that may arise.</p>
                <p class="px-10 py-5">The electrodes and monitoring equipment are similar, but less extensive than those used in the all-night polysomnogram. For about 20 minutes every two hours patients will be monitored.</p>
                <p class="px-10 py-5">The technologist determines the duration of each nap based on whether the patient sleeps or not. Nap periods can be as short as 16 minutes if sleep is achieved in the first minute of the nap period or as long as 35 minutes if sleep is achieved in minute 20 of the nap period.</p>
                <p class="px-10 py-5">There are no side effects from the test. A Sleep Medicine physician will review your data and discuss treatment options during a followup appointment.</p>
            </div>
            <div class="container">
                <p class="px-10 py-5 font-bold" id="insom">Insomnia</p>
                <p class="px-10 py-5">We believe that changes in behavior are a more natural way to treat insomnia. There is a definite role for medications and we use them frequently. We however prefer to incorporate behavioral changes, since the effect lasts a lifetime for our patients.</p>
                <p class="px-10 py-5">Cognitive behavioral therapy instead of sleeping pills</p>
                <p class="px-10 py-5">Insomnia is a common problem characterized by trouble falling asleep, staying asleep or getting restful sleep, despite the opportunity for adequate sleep. Cognitive behavioral therapy for insomnia, often called CBT-I, is an effective insomnia treatment for chronic sleep problems.</p>
                <p class="px-10 py-5">Cognitive behavioral therapy for insomnia is a structured program that helps you identify and replace thoughts and behaviors that cause or worsen sleep problems with habits that promote sound sleep. Unlike sleeping pills, CBT-I helps you overcome the underlying causes of your sleep problems.</p>
                <p class="px-10 py-5">To make effective changes, it’s important to understand sleep cycles and learn how beliefs, behaviors and outside factors can affect your sleep. To help decide how to best treat your insomnia, your sleep therapist may have you keep a detailed sleep diary for one to two weeks.</p>
                <p class="px-10 py-5">How does cognitive behavioral therapy for insomnia work?</p>
                <p class="px-10 py-5">Cognitive behavioral therapy for insomnia aims to improve sleep habits and behaviors. The cognitive part of CBT-I teaches you to recognize and change beliefs that affect your ability to sleep. For instance, this may include learning how to control or eliminate negative thoughts and worries that keep you awake. The behavioral part of CBT-I helps you develop good sleep habits and avoid behaviors that keep you from sleeping well.</p>
                <p class="px-10 py-5">Depending on your needs, your sleep therapist may recommend some of these CBT-I techniques:</p>
                <p class="px-10 py-5">Stimulus control therapy. This method helps remove factors that condition the mind to resist sleep. For example, you might be coached to set a consistent bedtime and wake time and avoid naps, use the bed only for sleep and sex, and leave the bedroom if you can’t go to sleep within 20 minutes, only returning when you’re sleepy.</p>
                <p class="px-10 py-5">Sleep restriction. Lying in bed when you’re awake can become a habit that leads to poor sleep. This treatment decreases the time you spend in bed, causing partial sleep deprivation, which makes you more tired the next night. Once your sleep has improved, your time in bed is gradually increased.</p>
                <p class="px-10 py-5">Sleep hygiene. This method of therapy involves changing basic lifestyle habits that influence sleep, such as smoking or drinking too much caffeine late in the day, drinking too much alcohol, or not getting regular exercise. It also includes tips that help you sleep better, such as ways to wind down an hour or two before bedtime.</p>
                <p class="px-10 py-5">Sleep environment improvement. This offers ways that you can create a comfortable sleep environment, such as keeping your bedroom quiet, dark and cool, not having a TV in the bedroom, and hiding the clock from view.</p>
                <p class="px-10 py-5">Relaxation training. This method helps you calm your mind and body. Approaches include meditation, imagery, muscle relaxation and others.</p>
                <p class="px-10 py-5">Remaining passively awake. Also called paradoxical intention, this involves avoiding any effort to fall asleep. Paradoxically, worrying that you can’t sleep can actually keep you awake. Letting go of this worry can help you relax and make it easier to fall asleep.</p>
                <p class="px-10 py-5">Biofeedback. This method allows you to observe biological signs such as heart rate and muscle tension and shows you how to adjust them. Your sleep specialist may have you take a biofeedback device home to record your daily patterns. This information can help identify patterns that affect sleep.</p>
                <p class="px-10 py-5">The most effective treatment approach for you may combine several of these methods.</p>
            </div>
            <div class="container">
                <p class="px-10 py-5 font-bold" id="Phil">Philips Respironics Recall Information</p>
                <p class="px-10 py-5">On 6/14/2021, Philips Respironics a leading CPAP manufacturer issued a recall notice on their CPAP machines. According to Philips this issue has affected 0.03% of patients on their CPAP machines.</p>
                <p class="px-10 py-5">There are only 2 large CPAP manufacturers , Philips and Resmed. Having a large recall on 1 manufacturer, especially during a pandemic has created a CPAP machine shortage. Resmed machines are not affected at this time.</p>
                <p class="px-10 py-5">Philips is working to replace ALL affected machines.</p>
                <p class="px-10 py-5">Please visit <a href="https://www.philipssrcupdate.expertinquiry.com/?ulang=en" target="_blank" rel="noopener noreferrer">this site</a> and register your CPAP for replacement.</p>
                <p class="px-10 py-5 font-bold">Vancouver Sleep Center’s view on this.</p>
                <p class="px-10 py-5">Philips has indicated that in high ambient temperature situations and in patients who use Ozone based cleaners such as SoClean, the sound abatement foam used in the CPAP machine can break-down. This results in small particles inhaled by patients and can cause short and long term health problems.</p>
                <p class="px-10 py-5">Short term: Cough, shortness of breath, nasal secretion, chest pain, and sinus headaches.</p>
                <p class="px-10 py-5">Long term: Unknown, although foam is noted to be a cancer causing.</p>
                <p class="px-10 py-5">We need to balance risk vs benefit in this situation.</p>
                <p class="px-10 py-5 font-medium">Risk:</p>
                <p class="px-10 py-5">Untreated severe sleep apnea can cause sleepiness while driving and motor vehicle accidents. It can cause heart arrhythmia in patients with know heart rhythm problems and coronary artery disease. It can make surgeries unsafe.</p>
                <p class="px-10 py-5">Inhaling foam particles may increase long term cancer risk.</p>
                <p class="px-10 py-5">Recommendation: (note, this is our opinion and will change based on more information).</p>
                <ol class="px-10 py-5">
                    <li>If you have an older Resmed/Fisher-Paykel machine, please switch back to it.</li>
                    <li>If you have mild – Moderate sleep apnea without excessive daytime sleepiness, then STOP using your machine. Call the clinic.</li>
                    <li>If you are a pilot/ CDL operator and are mandated to using CPAP , Call us, so we can get you 1st in line for a machine.</li>
                    <li>If you have severe sleep apnea, consider staying on your machine.</li>
                    <li>If you have underlying known heart disease, consider staying on your machine.</li>
                    <li>If you have COPD, consider staying on your machine.</li>
                    <li>STOP using any ozone based CPAP cleaner.</li>
                    <li>If in doubt, call Vancouver Sleep Center.</li>
                </ol>
                <p class="px-10 py-5"></p>
            </div>
        </div>
    </div>
    <%- include('components/footer') %>
</body>
</html>