<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header'); %>
    <title>Vancouver Sleep Center Home Page</title>
</head>
<body>
    <%- include('components/navbar'); %>
    <div class="container mx-auto flex flex-row">
        <div class="w-4/5 container mx-auto">
            <div class="flex items-center justify-center"><p class="text-3xl pageTitle">Services</p></div>
            <p class="px-10 py-5">Vancouver Sleep Center, is Vancouver’s AASM accredited comprehensive sleep center. We offer sleep testing on the latest medical equipment, and experienced physician and staff. We are your one stop center for physician visits, sleep testing, and durable medical equipment. This model has been shown to improve sleep apnea care. We have 3 convenient locations!</p>
            
        </div>
        <%- include('components/contactPanel') %>
    </div>
    <%- include('components/footer') %>
</body>
</html>